In [2]:
import kagglehub
# download latest version
path = kagglehub.dataset_download("natezhang123/social-anxiety-dataset")
print("Path to dataset: ", path)

Path to dataset:  C:\Users\munge\.cache\kagglehub\datasets\natezhang123\social-anxiety-dataset\versions\2

In [ ]:
import pandas as pd
import numpy as np

# Create a simple DataFrame
def create_sample_dataframe():
    # Sample data
    data = {
        'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
        'Age': [25, 30, 35, 40, 45],
        'City': ['New York', 'San Francisco', 'Chicago', 'Boston', 'Seattle'],
        'Salary': [60000, 80000, 70000, 90000, 75000]
    }
    
    # Create DataFrame
    df = pd.DataFrame(data)
    return df

def main():
    # Create the DataFrame
    df = create_sample_dataframe()
    
    # Basic operations
    print("Original DataFrame:")
    print(df)
    
    # Basic statistics
    print("\nBasic Statistics:")
    print(df.describe())
        # Filtering data
    print("\nPeople earning more than 75000:")
    print(df[df['Salary'] > 75000])
    
    # Adding a new column
    df['Experience'] = [3, 7, 5, 10, 8]
    print("\nDataFrame with new column:")
    print(df)
    
    # Grouping and aggregation
    print("\nAverage salary by city:")
    print(df.groupby('City')['Salary'].mean())
    
    # Sorting
    print("\nDataFrame sorted by Age (descending):")
    print(df.sort_values(by='Age', ascending=False))
    
    # Saving to CSV
    df.to_csv('employee_data.csv', index=False)
    print("\nDataFrame saved to 'employee_data.csv'")
    
if __name__ == "__main__":
    main()

Original DataFrame:
      Name  Age           City  Salary
0    Alice   25       New York   60000
1      Bob   30  San Francisco   80000
2  Charlie   35        Chicago   70000
3    David   40         Boston   90000
4     Emma   45        Seattle   75000

Basic Statistics:
             Age        Salary
count   5.000000      5.000000
mean   35.000000  75000.000000
std     7.905694  11180.339887
min    25.000000  60000.000000
25%    30.000000  70000.000000
50%    35.000000  75000.000000
75%    40.000000  80000.000000
max    45.000000  90000.000000

People earning more than 75000:
    Name  Age           City  Salary
1    Bob   30  San Francisco   80000
3  David   40         Boston   90000

DataFrame with new column:
      Name  Age           City  Salary  Experience
0    Alice   25       New York   60000           3
1      Bob   30  San Francisco   80000           7
2  Charlie   35        Chicago   70000           5
3    David   40         Boston   90000          10
4     Emma   45        Seattle   75000           8

Average salary by city:
City
Boston           90000.0
Chicago          70000.0
New York         60000.0
San Francisco    80000.0
Seattle          75000.0
Name: Salary, dtype: float64

DataFrame sorted by Age (descending):
      Name  Age           City  Salary  Experience
4     Emma   45        Seattle   75000           8
3    David   40         Boston   90000          10
2  Charlie   35        Chicago   70000           5
1      Bob   30  San Francisco   80000           7
0    Alice   25       New York   60000           3

DataFrame saved to 'employee_data.csv'